/* styles.css */
.main {
    background: linear-gradient(135deg, #7fdcf7, #ffb6c1, #ffeaa7);
    margin: 0; /* Remove default margin to fill the entire viewport */
    min-height: 100vh; /* Ensure full viewport height */
    background: linear-gradient(135deg, #7fdcf7, #ffb6c1, #ffeaa7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: black;
  
    
}


.main h1 {
    font-family: 'Press Start 2P', cursive; /* Use a game-like font */
    text-transform: uppercase; /* Convert text to uppercase for authenticity */
    letter-spacing: 4px; /* Increase letter spacing for a pixelated look */
    font-size: 30px;
    font-weight: bold;
    animation: blink 1s infinite;
    color: black;
}

.label {
    color: black;
}

.my-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(52, 152, 219, 0.7); /* Change this to your desired background color */
    z-index: 100; /* Ensure the navbar appears above other content */
  }

.my-button {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(135deg, #7fdcf7, #ffb6c1, #ffeaa7);
    /* You can adjust the gradient colors as needed */
    color: #fff; /* Set the text color to white or any color that contrasts with the background */
    /* Add any other button styles you need */
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


