/* styles.css */
.main {
    background: linear-gradient(135deg, #ff6b6b, #ffa07a, #ffd700, #98fb98, #87ceeb);
}


.main h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    font-weight: bold;
}

/* styles.css */
/* Apply Pacifico font to headings */
/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
} */

/* Apply Pacifico font to buttons */
.button {
    font-family: 'Pacifico', cursive;
}
